*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/release
*.apk
*.aab
*.ap_
*.dex
*.class
bin/
gen/
out/
.navigation/
*.log
*.txt~
05-23-*
dock2026-trae-solo-agent-N6gRU4-AI.txt
app_config.txt
